* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #2c2d33;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.bar {
  background-color: #1f1f1f;
  height: 80px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  border-radius: 10000px;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 660px) {
  .bar {
    grid-template-columns: 10px 1fr 10px;
  }
}
.bar > div {
  width: 100%;
}

.bar > .main-toolbar {
  height: 50px;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1000px;
  background: #2b2b33;
}

.secondary-toolbar {
  display: flex;
}
.secondary-toolbar-right {
  justify-content: flex-end;
}

.secondary-toolbar .toolbar-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;
}

@media (max-width: 996px) {
  .secondary-toolbar .toolbar-item {
    margin: 0 10px;
  }
}

.secondary-toolbar .toolbar-item p {
  margin-top: 10px;
  text-align: center;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

/* Helpers */

.hide-sm {
  display: unset;
}

@media (max-width: 660px) {
  .hide-sm {
    display: none !important;
  }
}

.divider {
  width: 1px;
  height: 24px;
  background-color: white;
  border-radius: 100px;
}

.opacity-40 {
  opacity: 0.4;
}
.opacity-60 {
  opacity: 0.6;
}

.round-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 200ms;
}

.round-btn:hover {
  filter: brightness(0.8);
}
.round-btn:active {
  filter: brightness(1);
}

.bg-white {
  background: #fff;
}
.bg-red {
  background: #f24435;
}
